#rest
{
    background-color:burlywood;
    opacity: 6;
    border:solid 1px;

}
#image
{
    height: 20%;
    width: 20%;
    
}
#name
{
    position:absolute;
    float:right;
    margin-left:180px;
    margin-top:10px;
    font-size: 20px;
    color:black;
}
#rating
{
   
    position:absolute;
    margin-left:240px;
    margin-top:90px;
    font-size:30px;
    color:black;
}
#votes
{
    margin-left:180px;
    position:absolute;
    margin-top:50px;
    font-size:20px;
    color:black;
}
#reviews
{
    position:absolute;
    margin-left:280px;
    margin-top:50px;
    font-size:20px;
    color:black;
}
#page
{
    background: #000;
    align-content:center; 
}
a
{
   color:white;
}
a:hover
{
    color:dimgray;
}